.recommend {
  .breadcrumb {
    background-color: #fff;
    .breadcrumb-item {
      font-size: 12px;
      .material-icons {
        font-size: 14px;
        margin-top: -4px;
      }

      &.active {
        font-weight: bold;
      }
    }
  }

  .cate {
    flex: 1;
    margin-top: 10px;
    margin-bottom: 20px;

    .row {
      width: 100%;
      div {
        margin-bottom: 15px;
      }
      & + .row {
        padding-top: 100px;
      }
    }
    .recommend_cate {
      width: 250px;
      border: 1px solid #eee;
      padding: 20px;
      margin: 0 auto;
      text-align: center;
      background-color: #f9f9f9;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      border-radius: 2px;
      cursor: pointer;
      a {
        color: #495057;
        font-weight: bold;
        letter-spacing: 2px;
      }
    }
  }

  .item-list {
    padding: 0 5px;

    .item {
      padding: 5px 0;
      border-top: 1px solid #f1f1f1;

      .item-image {
        img {
          width: 150px;
          border-radius: 6px;
          pointer-events: none;
          box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
        }
      }
      .item-desc {
        .title {
          margin-left: 0;
          font-size: 18px;
        }
        .brand,
        .joint,
        .shaft,
        .rent-price {
          color: #999;
          font-size: 14px;
          line-height: 1.2rem;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .recommend {
    .cate {
      .row {
        & + .row {
          padding-top: 0;
        }
      }
    }
  }
}

.item {
  .breadcrumb {
    font-size: 12px;
    background-color: transparent;
    padding-top: 20px;
  }
}
