.main {
  .carousel {
    padding-bottom: 0px;

    .card {
      margin-top: 15px;
      margin-bottom: 15px;
      border-radius: unset;
    }
  }

  .menu {
    text-align: center;
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;

    .row {
      margin-right: 0;
      margin-left: 0;
    }

    a {
      color: #555;
    }
  }

  .main-banner {
    margin-bottom: 20px;
  }

  .rank {
    background-color: transparent;
    text-align: center;
    border: 0;
    border-radius: 0.3rem;
    outline: 0;
    font-size: 14px;
    font-weight: 600;
    //   margin-top: 60px;

    h5 {
      display: flex;
    }

    .card {
      margin-bottom: 30px;
      margin-top: 35px;
    }

    .nav-tabs .nav-item .nav-link {
      padding: 6px 15px;
    }

    .card .card-header {
      padding: 5px 10px;
    }
    a {
      color: #555;
    }
    table.table {
      margin-bottom: 0;

      > thead > tr > th,
      > thead > tr > td,
      > tbody > tr > th,
      > tbody > tr > td {
        font-size: 12px;
        padding: 5px;
        color: #555;
        font-weight: normal;
      }

      img {
        width: 50px;
      }
    }
  }
}
