@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}

body,
div#wrapper {
  background: #eee;
  width: 100%;
  height: 100%;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

body,
th,
td,
input,
select,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Noto Sans KR', 'Nanum Gothic', 'Malgun Gothic', sans-serif;
  color: #555;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  border: 0;
  margin-bottom: 20px;
  background-color: #fff !important;
  -webkit-box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 50px;
}

.main {
  top: 70px;
  height: auto;
  min-height: calc(100vh - 184px);
  position: relative;
}

footer {
  bottom: 0;
  background-color: #fff;
}

.banner {
  display: inline-block;
  position: relative;
  padding: 14px 0;
}

a.banner img {
  width: 150px;
}

.menu {
  display: inline-block;
  padding-left: 30px;
  width: 100px;
}

.search {
  display: inline-block;
  width: 300px;
}

.private {
  display: inline-block;
  margin-left: auto;
  right: 0;
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.box {
  border: 1px solid #555;
  width: 30px;
  height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.private .btn {
  width: 80px;
  height: 32px;
}

.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin: 0 auto;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

@media screen and (max-width: 991px) {
  .contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.btn {
  position: relative;
  padding: 6px 15px;
  margin: 0.3125rem 1px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.42857;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0.2rem;
  outline: 0;
  -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  will-change: box-shadow, transform;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn:active:focus:focus,
.btn:active:focus.focus,
.btn.active:focus,
.btn.active.focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-primary {
  color: #fff;
  background-color: #6e4ef7;
  border-color: #6e4ef7;
  -webkit-box-shadow: 0 2px 2px 0 rgba(110, 78, 247, 0.14), 0 3px 1px -2px rgba(110, 78, 247, 0.2), 0 1px 5px 0 rgba(110, 78, 247, 0.12);
  box-shadow: 0 2px 2px 0 rgba(110, 78, 247, 0.14), 0 3px 1px -2px rgba(110, 78, 247, 0.2), 0 1px 5px 0 rgba(110, 78, 247, 0.12);
}

.btn-secondary {
  color: #6c757d;
  background-color: transparent;
  border-color: #6c757d;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.btn.btn-primary:focus,
.btn.btn-primary.focus,
.btn.btn-primary:hover {
  color: #fff;
  background-color: #623ff6;
  border-color: #3e13f4;
}

.btn.btn-primary:focus,
.btn.btn-primary.focus,
.btn.btn-primary:hover {
  color: #fff;
  background-color: #623ff6;
  border-color: #3e13f4;
}

.btn.btn-primary:active:hover,
.btn.btn-primary:active:focus,
.btn.btn-primary:active.focus,
.btn.btn-primary.active:hover,
.btn.btn-primary.active:focus,
.btn.btn-primary.active.focus {
  color: #fff;
  background-color: #623ff6;
  border-color: #2b09bd;
}

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(110, 78, 247, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(110, 78, 247, 0.2);
  box-shadow: 0 14px 26px -12px rgba(110, 78, 247, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(110, 78, 247, 0.2);
}
/*# sourceMappingURL=all.css.map */