@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;

700;800&family=Noto+Sans+KR:wght@300;400;500;700&display=swap);@import url(https://fonts.googleapis.com/icon?family=Material+Icons);.material-icons {
  position: relative;
  top: 5px;
  font-size: 20px;
  padding-right: 3px;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}

body,
div#wrapper {
  background: #eee;
  width: 100%;
  height: 100%;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

body,
th,
td,
input,
select,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Noto Sans KR", "Nanum Gothic", "Malgun Gothic", sans-serif;
  color: #555;
}

nav {
  display: flex;
  position: fixed;
  border: 0;
  background-color: #fff !important;
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 60px;
  z-index: 100;
}

.main {
  top: 70px;
  height: auto;
  min-height: calc(100vh - 184px);
  position: relative;
}

footer {
  bottom: 0;
  background-color: #fff;
}

a.banner img {
  width: 150px;
  top: 3px;
  position: relative;
}

.menu {
  display: inline-block;
  padding-left: 30px;
}

.menu ul {
  display: flex;
}

.menu ul li a {
  text-decoration: none;
  color: inherit;
  padding: 0.9375rem;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 20px;
}

form.search {
  display: inline-block;
  margin-left: auto;
  padding-left: 15px;
}

input.search {
  background: no-repeat center bottom, center calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  border: 0;
  height: 36px;
  transition: background 0s ease-out;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  font-size: 0.75rem;
  background-image: linear-gradient(to top, #6e4ef7 2px, rgba(110, 78, 247, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
  outline: 0;
  color: #495057;
  width: 200px;
}

input.search:focus {
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
}

form.search button {
  position: relative;
  left: -30px;
}

.box-container {
  display: flex;
  justify-content: flex-end;
}

.box {
  border: 1px solid #555;
  width: 30px;
  height: 30px;
  align-self: center;
}

.private .btn {
  width: 70px;
  height: 32px;
}

.carousel {
  display: flex;
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #ffffff;
  text-align: center;
  opacity: 0.5;
}

.carousel .carousel-control-prev .material-icons,
.carousel .carousel-control-next .material-icons {
  z-index: 5;
  display: inline-block;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  margin: auto;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel .carousel-indicators {
  bottom: 5px;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators .active {
  background-color: #ffffff;
}

.contents {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

@media screen and (max-width: 1000px) {
  .contents {
    display: flex;
    width: 100%;
    padding: 0 15px;
  }

  .desktop {
    display: none;
  }
}

.btn {
  position: relative;
  padding: 6px 5px;
  margin: 0.3125rem 1px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.42857;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0.2rem;
  outline: 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow, transform;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn:active:focus:focus,
.btn:active:focus.focus,
.btn.active:focus,
.btn.active.focus {
  outline: 0;
  box-shadow: none !important;
}

.btn-primary {
  color: #fff;
  background-color: #6e4ef7;
  border-color: #6e4ef7;
  box-shadow: 0 2px 2px 0 rgba(110, 78, 247, 0.14), 0 3px 1px -2px rgba(110, 78, 247, 0.2), 0 1px 5px 0 rgba(110, 78, 247, 0.12);
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover {
  color: #fff;
  background-color: #623ff6;
  border-color: #3e13f4;
  box-shadow: 0 14px 26px -12px rgba(110, 78, 247, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(110, 78, 247, 0.2);
}

.btn-secondary {
  color: #8a8a8a;
  background-color: transparent;
  border-color: #d2d2d2;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:hover {
  color: #555;
  background-color: #f9f9f9;
  border-color: #d5d5d5;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

