$brand-primary: #6e4ef7;
$btn-secondary-color: #8a8a8a;

@import 'material-kit.scss';

@import 'layout.scss';

@import 'pages/main.scss';

.title {
  font-size: 16px;
  margin: 0;
  margin-left: 10px;
  line-height: 1rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}

// .theme-shop {
//   padding-top: -30px;

//   .theme-screen {
//   }

//   .card .card-header.card-header-image .card-title {
//     display: flex;
//     width: 100%;
//     height: 60%;
//     left: 0;
//     top: 0;
//     align-items: center;
//     justify-content: center;
//     background-color: #000;
//     opacity: 0.8;
//     margin-top: 10%;
//     font-size: 12px;

//     &:hover {
//       background-color: #fff;
//       color: #000;
//     }
//   }
// }

// .youtube-container {
//   position: relative;
//   padding-bottom: 56.25%;
//   height: 0;
//   overflow: hidden;
//   width: 100%;

//   img {
//     position: absolute;
//     top: 50%;
//     left: 0;
//     width: 100%;
//     transform: translateY(-50%);
//   }
// }

// .theme-shop {
//   .title {
//     margin: 0;
//     margin-left: 10px;
//   }

//   .card .card-header.card-header-image img {
//     border-radius: 2px;
//   }
// }

// .card .card-header.card-header-image .card-title {
//   font-size: 14px;
//   display: flex;
//   width: 100%;
//   height: 60%;
//   left: 0;
//   top: 0;
//   align-items: center;
//   justify-content: center;
//   background-color: #000;
//   opacity: 0.8;
//   margin-top: 10%;
// }

// .card .card-category {
//   color: #555;
//   margin-top: 5px;
//   text-align: center;
// }

@media (min-width: 768px) {
  .menu div div {
    border-right: 1px solid #dee2e6;
    padding: 15px;

    &:last-child {
      border-right: 0;
    }
  }
}

@media (max-width: 767px) {
  .navbar .navbar-translate {
    justify-content: unset;
  }

  .container {
    padding: 0;
    max-width: 100%;
  }

  nav.navbar {
    padding: 0;
    margin-bottom: 0;
    height: 50px;
  }
  .navbar-brand .logo {
    width: 120px;
  }
  .main {
    padding-top: 50px;

    .carousel .card {
      margin-top: 0;
      box-shadow: unset;
    }

    .rank .card.card-nav-tabs {
      margin-bottom: 0px;
    }

    .carousel .carousel-indicators li {
      width: 6px;
      height: 6px;
    }
    .menu .row {
      margin: 0;
    }
    .menu div div {
      border-right: 1px solid #dee2e6;
      padding: 15px;

      &:nth-child(3) {
        border-right: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }
    .menu .m-border-bottom {
      border-bottom: 1px solid #dee2e6;
    }
    .card {
      box-shadow: none;
    }
  }
}
