.navbar-brand .logo {
  width: 150px;
}

nav button.btn {
  padding: 0;
  width: 70px;
  height: 34px;
}

.main {
  padding-top: 70px;
}

footer.footer {
  padding: 15px 20px 20px 15px;
  ul li a {
    letter-spacing: -1px;
  }
}
