@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}

body,
div#wrapper {
  background: #eee;
  width: 100%;
  height: 100%;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

body,
th,
td,
input,
select,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Noto Sans KR', 'Nanum Gothic', 'Malgun Gothic', sans-serif;
  //font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #555;
}

nav {
  display: flex;
  position: fixed;
  border: 0;
  background-color: #fff !important;
  -webkit-box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 60px;
  z-index: 100;
}

.main {
  top: 70px;
  height: auto;
  min-height: calc(100vh - 184px);
  position: relative;
}

footer {
  bottom: 0;
  background-color: #fff;
}

// .banner {
//   display: inline-block;
//   position: relative;
// }

a.banner img {
  width: 150px;
  top: 3px;
  position: relative;
}

.menu {
  display: inline-block;
  padding-left: 30px;
}

.menu ul {
  display: flex;
}

.menu ul li a {
  text-decoration: none;
  color: inherit;
  padding: 0.9375rem;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 20px;
}

form.search {
  display: inline-block;
  // width: 300px;
  margin-left: auto;
  padding-left: 15px;
}

input.search {
  background: no-repeat center bottom, center calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  border: 0;
  height: 36px;
  -webkit-transition: background 0s ease-out;
  transition: background 0s ease-out;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  font-size: 0.75rem;
  background-image: linear-gradient(to top, #6e4ef7 2px, rgba(110, 78, 247, 0) 2px),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
  outline: 0;
  color: #495057;
  width: 200px;
}

input.search:focus {
  background-size: 100% 100%, 100% 100%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: none;
  box-shadow: none;
}

form.search button {
  position: relative;
  left: -30px;
}

.box-container {
  display: flex;
  justify-content: flex-end;
}

.box {
  border: 1px solid #555;
  width: 30px;
  height: 30px;
  align-self: center;
}

.private .btn {
  width: 70px;
  height: 32px;
}

.carousel {
  display: flex;
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #ffffff;
  text-align: center;
  opacity: 0.5;
}

.carousel .carousel-control-prev .material-icons,
.carousel .carousel-control-next .material-icons {
  z-index: 5;
  display: inline-block;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  margin: auto;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel .carousel-indicators {
  bottom: 5px;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: '';
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: '';
}

.carousel-indicators .active {
  background-color: #ffffff;
}
